@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.cnt-sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9eeff;
  background-image: url(./assets/ondas.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cnt-h1p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titleH1 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.titleH1::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.textTitle {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 30px 0 40px;
  line-height: 1.1;
}

.btn-Title {
  color: #ffffff;
  background-color: #FFA500;
  border: none;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bpl1Hero {
  top: -65px;
  position: relative;
  height: 500px;
  width: 100%;
}

.cnt-img,
.imgCaja {
  height: 400px;
}

.titleH2 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.titleH2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.textH2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px 0 40px;
  line-height: 1.2;
}

.cnt-imgCaja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.imgCaja {
  position: relative;
  top: -55px;
}

.cnt-sectionTwo {
  padding: 10px;
  background-image: url(./assets/ondas.png);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.cnt-sectionTwo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./assets/ondas.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  z-index: -1;
}

.cnt-Bene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBeneH2 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.cnt-titleTextBene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgLogo {
  width: 100px;
  height: 100px;
}

.cnt-imgLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.sectionFAQ {
  padding-bottom: 70px;
}

.titleFAQ {
  color: #1D2B64;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  padding: 70px 0 40px;
}

.titleFAQ::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.secctionCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9eeff;
  margin: 10px;
  border-radius: 15px;
}

.cnt-Cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 60px;
}

.titleCTA {
  color: #1D2B64;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  padding: 70px 0 40px;
}

.titleCTA::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.btn-CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #FFA500;
  border: none;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}

.cnt-Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.textFooter {
  border-top: 1px solid rgb(214, 214, 214);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .titleH1 {
    padding: 30px 40px 30px;
    line-height: 1.1;
  }

  .textTitle {
    padding: 30px 120px 40px;
    line-height: 1.6;
  }

  .textH2 {
    padding: 30px 90px 40px;
    line-height: 1.6;
  }

  .imgLogo {
    width: 150px;
    height: 150px;
  }

  .titleFAQ {
    padding: 70px 125px 40px;
  }

  .titleCTA {
    padding: 70px 90px 40px;
  }

  .secctionCTA {
    margin: 0 auto;
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .titleH1 {
    max-width: 600px;
  }

  .textTitle {
    max-width: 530px;
  }

  .textH2 {
    max-width: 800px;
    margin: 0 auto;
  }
}