@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.cnt-sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9eeff;
  background-image: url(./assets/ondas.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cnt-h1p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titleH1 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.titleH1::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.textTitle {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 30px 0 40px;
  line-height: 1.1;
}

.btn-Title {
  color: #ffffff;
  background-color: #FFA500;
  border: none;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bpl1Hero {
  top: -65px;
  position: relative;
  height: 500px;
  width: 100%;
}

.cnt-img,
.imgCaja {
  height: 400px;
}

.titleH2 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.titleH2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}

.textH2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px 0 40px;
  line-height: 1.2;
}

.imgCaja {
  position: relative;
  top: -55px;
}

.cnt-sectionTwo {
  padding: 10px;
  background-image: url(./assets/ondas.png);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.cnt-sectionTwo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./assets/ondas.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  z-index: -1;
}

.cnt-Bene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBeneH2 {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.cnt-titleTextBene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleFAQ {
  color: #1D2B64;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  padding: 70px 0 40px;
}

.titleFAQ::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #FF8C00;
  margin: 1rem auto 0;
}